<form action="/api/user/edit/<%=author_id_cookie%>" class="editForm" enctype="multipart/form-data" method="POST" style="display: none;">
    <div class="" style="margin-left:5%">
        <img src="/img/users/<%=authorData.profile_photo%>" class="mx-auto" id="preview" style="height:200px;width:200px; margin:0px 45%; border-radius: 50%;">
        <input type="file" class="edit form-control-file" id="filetag" name="profile_photo">
        <div class="">
            <h1 style="display:inline"><%=authorData.firstName%></h1> 
            <h2 style="display:inline"><%=authorData.lastName%></h2>
            
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="title" class="col-sm-2 col-form-label">User Name</label>
                    <div class="col-sm-10">
                        <input value="<%=authorData.username%>" placeholder="" type="text" name="username" required="true"  class="form-control">
                    </div>
                </div> 

                <div class="form-group row">
                    <label for="firstName" class="col-form-label col-sm-2">First Name</label>
                    <div class="col-sm-10">
                        <input value="<%=authorData.firstName%>" placeholder="" type="text" name="firstName" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="lastName" class="col-form-label col-sm-2">Last Name</label>
                    <div class="col-sm-10">
                        <input value="<%=authorData.lastName%>" placeholder="" type="text" name="lastName" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="highlight" class="col-form-label col-sm-2">Highlight</label>
                    <div class="col-sm-10">
                        <input value="<%=authorData.highlight%>" placeholder="" type="text" name="highlight"  class="form-control">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary rounded-pill">Save</button>
        <button type="button" class="btn btn-danger rounded-pill" onclick="normal()">Cancel</button>
    </div>
</form>
