<%-include('../../partials/_header.ejs')%>
<div class="container">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-7 md-6 xs-6">
            <nav class="navbar navbar-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <img src="/img/users/<%=authorData.profile_photo%>" 
                        alt="" width="30" height="30" class="rounded-circle">
                        &nbsp;&nbsp;&nbsp;<%=authorData.username%>
                    </div>
                    <div class="col">
                        <h6>
                            <%=blogData.date_posted%>
                        </h6>
                    </div>
                </div>
            </div>
            </nav>
            
            <h1><%=blogData.title%></h1>
            <img class="img-fluid" style="height:auto; width:90%"src="/img/blogs/<%=blogData.image%>">
            <br/>
            <br/>
            <p style="width:90%"><%=blogData.content%></p>
        </div>
        <div class="container col-lg-3 col-md-4 col-xs-4">
                <h1>Author Profile</h1>
                <!-- Author Card -->
                <div class="card author_profile" style="width: 80%">
                <img src="/img/users/<%=authorData.profile_photo%>"                        
                    class="card-img-top h-auto" class="ml-5"style="width:100%;" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><%=authorData.username%></h5>
                    <p class="card-text">Number of Blogs Written: </p>
                    <blockquote class="blockquote">
                        <p class="mb-0"><%=authorData.highlight%></p>
                    </blockquote>
                    <a href="/user/<%=authorData._id%>" class="btn btn-primary">Profile Page</a>
                    </div>
                </div>
                <div class="">
                    <h1>Other Blogs</h1>
                    <!-- Hot Blogs -->
                </div>
        </div>
    </div>
    
    <!-- Show only when the User logged in is the author -->
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-6 editbar ">
            <a href="/blog/<%=blogData._id%>/edit" role="button" class="btn btn-warning rounded-pill">Edit</a>
            <a role="button" class="btn btn-danger rounded-pill" href="/api/blog/delete/<%=blogData._id%>">Delete</a>
        </div>
        
    </div>
</div>

<script >
    if (<%- JSON.stringify(author_id_cookie) %> !=  <%- JSON.stringify(blogData.author_id) %>){ // if both not equal then hide else show..
        $(".editbar").hide()
    }
    else{
        $(".editbar").show()
        // $(".author_profile").hide()
    }
</script>
<%-include('../../partials/_footer.ejs')%>