<%-include('../partials/_header.ejs')%>
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
            <nav class="navbar navbar-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <img src="https://media.istockphoto.com/id/1313110704/vector/default-avatar-photo-placeholder-profile-icon.jpg?s=612x612&w=0&k=20&c=WbpeZFUeHvhwYEA07qEMqTU1Bsxc9O9ShlXYofbhqx0=" 
                        alt="" width="30" height="30" class="rounded-circle">
                        &nbsp;&nbsp;&nbsp;<%=blogData.author_name%>
                    </div>
                    <div class="col">
                        <h6>
                            <%=blogData.date_posted%>
                        </h6>
                    </div>
                </div>
            </div>
            </nav>
            
            <h1><%=blogData.title%></h1>
            <img class="img-fluid" style="height:auto; width:90%"src="https://thumbs.dreamstime.com/b/blog-information-website-concept-workplace-background-text-view-above-127465079.jpg">
            <br/>
            <br/>
            <p style="width:90%"><%=blogData.content%></p>
        </div>
        <div class="col-md-4">
            <h1>Author Profile</h1>
            <!-- Author Card -->
            <div class="card author_profile" style="width: 80%">
                <img src="https://media.istockphoto.com/id/1313110704/vector/default-avatar-photo-placeholder-profile-icon.jpg?s=612x612&w=0&k=20&c=WbpeZFUeHvhwYEA07qEMqTU1Bsxc9O9ShlXYofbhqx0="
                    class="card-img-top h-auto" style="width:100%" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=blogData.author_name%></h5>
                  <p class="card-text">Number of Blogs Written: </p>
                  <a href="#" class="btn btn-primary">Profile Page</a>
                </div>
            </div>

            <h1>Other Blogs</h1>
            <!-- Hot Blogs -->
        </div>
    </div>
    
    <!-- Show only when the User logged in is the author -->
    <div class="editbar">
        <button class="btn btn-primary">Edit</button>
        
    </div>
</div>
    

<script >
    if (<%- JSON.stringify(author_id_cookie) %> !=  <%- JSON.stringify(blogData.author_id) %>){ // if both not equal then hide else show..
        $(".editbar").hide()
    }
    else{
        $(".editbar").show()
        // $(".author_profile").hide()
    }
</script>
    

<%-include('../partials/_footer.ejs')%>